@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "GmarketSansMedium";
  src: url("../fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
  font-family: "GmarketSansLight";
  src: url("../fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("../fonts/GmarketSansTTFBold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  vertical-align: top;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  border-radius: 0;
  background-color: #f7f7f7;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 2px;
}
/* 공통클래스 */
body {
  font-family: "Open Sans", GmarketSansMedium, GmarketSansLight, GmarketSansBold,
    "맑은 고딕", "돋움", Dotum, "굴림", Gulim, Sans-serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
h3 {
  font-size: 22px;
  color: #0e62b2;
  line-height: 1.5;
  margin-bottom: 25px;
  font-weight: 400;
}
/* btn */
.btn-more {
  position: absolute;
  top: 40px;
  right: 30px;
  padding-left: 18px;
  background: url("../images/plus-black.png") no-repeat left center;
  font-size: 15px;
}
/* 전체 메뉴 마스크 */
.all-menu-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b0b0b;
  opacity: 0.7;
  z-index: 99;
  display: none;
}
.all-menu-mask.active {
  display: block;
}
/* 전체 메뉴 */
.all-menu-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  overflow-y: auto;
  display: none;
  padding: 0 8px;
}
.all-menu-wrapper.active {
  display: block;
}
.all-menu-wrapper .menu-content {
  position: relative;
  max-width: 1500px;
  margin: 180px auto 0;
  background-color: #fff;
  padding: 80px 86px 90px;
}

.all-menu-wrapper .menu-content h2 {
  font-size: 32px;
  font-weight: 400;
  padding-left: 15px;
  color: #222;
  line-height: 48px;
}
.all-menu-wrapper .menu-content h2 strong {
  font-weight: 700;
  color: #2578de;
  letter-spacing: -1.6px;
  margin-right: 15px;
}

.all-menu-wrapper .menu-content .all-menu-nav {
  width: 100%;
  font-size: 0;
  border-bottom: 1px solid #dedede;
}
.all-menu-wrapper .menu-content .all-menu-nav > li {
  display: inline-block;
  width: calc(100% / 6);
  padding: 45px 15px;
  vertical-align: top;
  font-size: 15px;
}
.all-menu-wrapper .menu-content .all-menu-nav > li > a {
  display: block;
  min-height: 76px;
  font-size: 19px;
  color: #222;
  border-bottom: 2px solid #444;
  word-break: keep-all;
  padding-bottom: 15px;
  line-height: 28.5px;
  transition: 0.3s;
}
.all-menu-wrapper .menu-content .all-menu-nav > li:hover > a {
  color: #2578de;
  border-bottom: 2px solid #2578de;
}
.all-menu-wrapper .menu-content .all-menu-nav .all-menu-submenu {
  margin-top: 30px;
}
.all-menu-wrapper .menu-content .all-menu-nav .all-menu-submenu li {
  margin-top: 5px;
  line-height: 1.8;
}
.all-menu-wrapper .menu-content .all-menu-nav .all-menu-submenu li a {
  display: block;
  line-height: 27px;
  font-weight: 500;
  /* font-weight: 600; */
  color: #555;
  word-break: keep-all;
}
.all-menu-wrapper .menu-content .all-menu-nav .all-menu-submenu li:hover a {
  color: #2578de;
}
/* 전체 메뉴 닫기 버튼 */
.all-menu-close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  padding: 22px;
  background-color: #2578de;
}
.all-menu-close .menu-btn {
  display: block;
  width: 26px;
  height: 26px;
  position: relative;
}
.all-menu-close .menu-btn .btn-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.6s;
}
.all-menu-close .menu-btn .line01 {
  transform: rotate(-45deg);
}
.all-menu-close .menu-btn .line02 {
  transform: rotate(45deg);
}
.all-menu-close:hover .menu-btn .line01 {
  transform: rotate(45deg);
}
.all-menu-close:hover .menu-btn .line02 {
  transform: rotate(135deg);
}
/* 전체메뉴 반응형 */
@media screen and (max-width: 1800px) {
  .all-menu-wrapper {
    padding: 0 30px;
  }
}
@media all and (max-width: 1220px) {
  .all-menu-wrapper {
    display: none;
  }
  .all-menu-mask {
    display: none;
  }
}

/* 모바일 메뉴 버튼 */
.mb-bt {
  position: fixed;
  right: 15px;
  top: 25px;
  width: 24px;
  height: 14px;
  z-index: 101;
  display: none;
}
.mb-bt::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
}
.mb-bt .line {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
}
.mb-bt::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
}

.mb-bt.active::before {
  top: 50%;
  transform: rotate(45deg);
}
.mb-bt.active .line {
  width: 0;
}
.mb-bt.active::after {
  top: 50%;
  transform: rotate(-45deg);
}

/* 모바일 메뉴 */
.mb-nav {
  position: fixed;
  top: 0;
  /* right: 0; */
  right: -360px;
  width: 360px;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  /* border: 2px solid seagreen; */
  transition: 0.3s;
}
.mb-nav.active {
  right: 0;
}
.mb-nav .mb-nav-top {
  padding: 70px 20px 18px;
}
.mb-nav .mb-nav-top a {
  display: block;
  float: left;
  font-size: 13px;
  color: #999;
  padding: 6px 10px;
  border: 2px solid #eee;
  min-width: 90px;
  text-align: center;
  margin-right: 8px;
  border-radius: 20px;
}

.mb-nav .mb-nav-main {
  padding: 21px 0 11px;
  height: calc(100% - 123px);
  overflow-y: auto;
}
.mb-nav .mb-nav-main .mb-menu {
}
.mb-nav .mb-nav-main .mb-menu > li {
  height: 55px;
  overflow: hidden;
}
.mb-nav .mb-nav-main .mb-menu > li .mb-mainMenu {
  display: block;
  height: 55px;
  font-size: 18px;
  color: #444;
  background-color: #fff;
  padding: 14px 20px;
  line-height: 27px;
  /* overflow: hidden; */
}
/* mb-subMenu */
.mb-nav .mb-nav-main .mb-menu .mb-subMenu {
  padding: 11px 20px;
  margin: 0 20px;
  background-color: #f5f5f5;
}
.mb-nav .mb-nav-main .mb-menu .mb-subMenu li {
  border-top: 1px solid #e9e9e9;
}
.mb-nav .mb-nav-main .mb-menu .mb-subMenu li:first-child {
  border-top: 0;
}
.mb-nav .mb-nav-main .mb-menu .mb-subMenu li a {
  display: block;
  padding: 15px 0;
  font-size: 14px;
  line-height: 21px;
  color: #666;
}
/* 모바일 메뉴 마스크 */
.mb-menu-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: none;
}
.mb-menu-mask.active {
  display: block;
}
/* =============== 헤더영역 =============== */
.header {
  width: 100%;
  background-color: #fff;
}
.header .container {
  position: relative;
  height: 98px;
  z-index: 98;
  /* border: 1px solid green;  */
}
/* logo */
.header .logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header .logo a {
}
.header .logo a img {
}
/* navigation */
.header .nav {
  position: absolute;
  top: 0;
  /* right: 280px; */
  right: 275px;
  white-space: nowrap;
}
.header .nav .menu {
}
.header .nav .menu > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.header .nav .menu > li > a {
  display: block;
  margin: 20px 0 5px;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  font-size: 19px;
  color: #333;
  transition: color 0.3s;
}
.header .nav .menu > li:hover > a {
  color: #2578de;
}
.header .nav .menu > li > ul {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  min-width: 182px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
}
.header .nav .menu > li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 88%;
}
.header .nav .menu > li > ul li {
  border-top: 1px solid #eaeaea;
}
.header .nav .menu > li > ul li:first-child {
  border-top: 0;
}
.header .nav .menu > li > ul li a {
  display: block;
  padding: 12px 15px;
  font-size: 14.4px;
  text-align: center;
  line-height: 1.4;
  transition: 0.3s;
}
.header .nav .menu > li > ul li:hover a {
  color: #2578de;
}
/* util */
.header .gnb-util {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header .gnb-util .gnb-wrap {
  float: left;
}
.header .gnb-util .gnb-wrap li {
  float: left;
  margin-left: 20px;
  margin-top: 12px;
}
.header .gnb-util .gnb-wrap li a {
  font-family: "GmarketSansLight";
  font-weight: 700;
  font-size: 16px;
  color: #666;
  line-height: 1;
}
.header .gnb-util .all-menu {
  float: left;
  margin-left: 19px;
}
.header .gnb-util .all-menu img {
}

/* ======= 헤더영역 반응형 ======== */
/* breakPoint - 1500px */
@media all and (max-width: 1500px) {
  .header .container {
    height: 90px;
    margin: 0 50px;
  }
  .header .logo {
    transform: translateY(-33%);
  }
  .header .logo a img {
    width: 123px;
    height: 40px;
  }
  .header .nav {
    right: 85px;
    /* top: 13px;        */
    padding: 12px 0 12px 0;
  }
  .header .nav .menu > li > a {
    margin: 18px 0 5px;
    padding: 0 20px;
    font-size: 17px;
  }

  .header .gnb-util {
    top: 7px;
    transform: translateY(0);
  }
  .header .gnb-util .gnb-wrap {
    float: left;
  }
  .header .gnb-util .gnb-wrap li {
    float: left;
    margin-left: 18px;
    margin-top: 5px;
  }
  .header .gnb-util .gnb-wrap li a {
    font-size: 14px;
  }
  .header .gnb-util .all-menu img {
    width: 35px;
    height: 35px;
  }
}
/* breakPoint - 1220px */
@media all and (max-width: 1220px) {
  .mb-bt {
    display: block;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 98;
  }
  .header .container {
    height: 70px;
    margin: 0 20px;
  }
  .header .nav {
    display: none;
  }
  .header .gnb-util {
    display: none;
  }
}
/* breakPoint - 767px */
@media all and (max-width: 767px) {
  .header .container {
    height: 60px;
  }
}
/* =============== 메인영역 =============== */
/* 비쥬얼영역 */
.visual {
  width: 100%;
  height: 475px;
}
.visual .sw-visual {
  width: 100%;
  height: 100%;
  position: relative;
}
.visual .swiper-slide {
  width: 100%;
  height: 100%;
}
.visual .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.visual .swiper-slide .vs-slide01 {
  background: url("../images/banner_1_20200915_0.jpg") no-repeat 70% 50%;
  background-size: cover;
}
.visual .swiper-slide .vs-slide02 {
  background: url("../images/banner_4_20200915_0.jpg") no-repeat 70% 50%;
  background-size: cover;
}
.visual .swiper-slide a i {
  display: block;
  width: 100%;
  padding-top: 50%;
}
.visual .sw-visual-control {
  position: absolute;
  width: 112px;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  /* border: 1px solid royalblue; */
  z-index: 1;
}
.visual .swiper-pagination {
  position: static;
  float: left;
  text-align: left;
  width: 60px;
}
.visual .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 1);
  margin-right: 8px;
}
.visual .swiper-pagination .swiper-pagination-bullet-active {
}
.visual .swiper-start {
  float: right;
  width: 8px;
  height: 24px;
}
.visual .swiper-start a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 6px 0;
}
.visual .swiper-start a span {
  display: block;
  width: 2px;
  height: 12px;
  background-color: #fff;
}
.visual .swiper-start a span:nth-child(1) {
  float: left;
}
.visual .swiper-start a span:nth-child(2) {
  float: right;
}
/* visual 반응형 버전 */
@media screen and (max-width: 1400px) {
  .visual {
    height: auto;
  }
  .visual .swiper-slide .vs-slide01 {
    background-image: none;
  }
  .visual .swiper-slide .vs-slide02 {
    background-image: none;
  }
  .visual .swiper-slide .vs-slide01 i {
    background: url("../images/bannerm_1_20200915_0.jpg") no-repeat center;
    background-size: cover;
  }
  .visual .swiper-slide .vs-slide02 i {
    background: url("../images/bannerm_4_20200915_0.jpg") no-repeat center;
    background-size: cover;
  }
}
@media screen and (max-width: 1220px) {
  .visual .swiper-slide i {
    margin-top: 70px;
  }
}
@media screen and (max-width: 767px) {
  .visual .swiper-slide i {
    margin-top: 60px;
  }
}
/* 퀵메뉴영역 */
.quick-menu {
  width: 100%;
  background-color: #f2f4f7;
  padding: 15px 0;
}
.quick-menu .container {
}
.quick-menu ul {
}
.quick-menu ul li {
  float: left;
  width: calc(100% / 5);
  /* height: 84px; */
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.quick-menu ul li:last-child {
  border-right: 0;
}
.quick-menu ul li a {
  display: block;
  width: 100%;
  /* height: 100%; */
  font-size: 17px;
  text-align: center;
  padding: 30px 0px 28px 75px;
}
.quick-menu ul li:nth-child(1) a {
  background: url("../images/img_icon01.svg") no-repeat 24% center;
  background-size: 56px 56px;
}
.quick-menu ul li:nth-child(2) a {
  background: url("../images/img_icon02.svg") no-repeat 30% center;
  background-size: 56px 56px;
}
.quick-menu ul li:nth-child(3) a {
  background: url("../images/img_icon03.svg") no-repeat 27% center;
  background-size: 56px 56px;
}
.quick-menu ul li:nth-child(4) a {
  background: url("../images/img_icon04_new.png") no-repeat 24% center;
  background-size: 56px 56px;
}
.quick-menu ul li:nth-child(5) a {
  background: url("../images/img_icon05_new.png") no-repeat 30% center;
  background-size: 56px 56px;
}
/* 퀵메뉴반응형 */
@media screen and (max-width: 1300px) {
  .quick-menu {
    padding: 0;
  }
  .quick-menu ul li {
    width: calc(100% / 3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .quick-menu ul li:nth-child(3) {
    border-right: 0;
  }
  .quick-menu ul li:nth-child(4) {
    margin-left: 16.8%;
  }
  .quick-menu ul li:nth-child(4),
  .quick-menu ul li:nth-child(5) {
    border-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .quick-menu ul li a {
    padding: 20px 0px 18px 92px;
    text-align: left;
    background-size: 35px 35px !important;
    background-position: 35px center !important;
    font-size: 16px;
    line-height: 24px;
  }
  /* .quick-menu ul li:nth-child(1) a,
    .quick-menu ul li:nth-child(2) a,
    .quick-menu ul li:nth-child(3) a,
    .quick-menu ul li:nth-child(4) a,
    .quick-menu ul li:nth-child(5) a {        
        background-position: 35px 12px;
        background-size: 35px 35px;
    } */
}
@media screen and (max-width: 600px) {
  .quick-menu ul li {
    width: calc(100% / 2);
  }
  .quick-menu ul li a {
    padding: 20px 0px 18px 62px;
    text-align: left;
    background-position: 15px center !important;
    font-size: 15px;
  }
  .quick-menu ul li:nth-child(3) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .quick-menu ul li:nth-child(4) {
    margin-left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .quick-menu ul li:nth-child(2n) {
    border-right: 0;
  }
}
/* notice영역 */
.notice {
  width: 100%;
  padding: 70px 0 60px;
}
.notice .notice-left {
  position: relative;
  float: left;
  width: 470px;
  height: 372px;
  margin-right: 20px;
  border: 1px solid #e6e8eb;
  padding: 36px 30px;
}
.notice .notice-left h3 {
  padding-bottom: 20px;
  background: url(../images/img_bg_line.png) repeat-x 100% 100%;
}
.notice .notice-left ul {
}
.notice .notice-left ul li {
  overflow: hidden;
  padding: 14px 0;
  border-bottom: 1px solid #e6e6e6;
}
.notice .notice-left ul li:last-child {
  border-bottom: 0;
}
.notice .notice-left ul li a {
  display: block;
  float: left;
  width: 68%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  color: #444;
}
.notice .notice-left ul li span {
  float: right;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #444;
}
/* notice-right */
.notice .notice-right {
  position: relative;
  float: right;
  width: 390px;
  height: 372px;
  padding: 36px 30px;
  border: 1px solid #e6e8eb;
}
.notice .notice-right h3 {
  margin-bottom: 14px;
  padding-left: 10px;
}
.notice .notice-right .cal-top {
  width: calc(100% - 6px);
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
}
.notice .notice-right .cal-top span {
  display: block;
  width: 34px;
  height: 34px;
  font-size: 0;
  text-indent: -99999px;
  background: url("../images/img_arrow01.svg") no-repeat center;
  background-size: 6px 10px;
  border: 1px solid #e1e1e1;
}
.notice .notice-right .cal-top .prev-month {
  float: left;
}
.notice .notice-right .cal-top .next-month {
  float: right;
  transform: rotate(-180deg);
}
.notice .notice-right .cal-table {
  width: 100%;
}
.notice .notice-right .cal-table .calendar {
  width: 100%;
  border-collapse: collapse;
  color: #333;
  background-color: #fff;
}
.notice .notice-right .cal-table .calendar thead {
}
.notice .notice-right .cal-table .calendar thead tr {
}
.notice .notice-right .cal-table .calendar thead tr th {
  padding: 5px 0;
  background-color: #fff;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
}
.notice .notice-right .cal-table .calendar tbody {
}
.notice .notice-right .cal-table .calendar tbody::before {
  content: "@";
  display: block;
  line-height: 5px;
  text-indent: -99999px;
}
.notice .notice-right .cal-table .calendar tbody tr {
}
.notice .notice-right .cal-table .calendar tbody tr td {
}
.notice .notice-right .cal-table .calendar tbody tr td span {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 2px auto;
  background-color: #f7f7f7;
}
.sun {
  color: #f2502b !important;
}
.sat {
  color: blue !important;
}
.notice .notice-right .cal-table .calendar tbody tr .today span {
  color: #fff;
  background-color: #2c3035;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
}
/* notice영역 반응형 */
@media screen and (max-width: 1500px) {
  .notice .container {
    margin: 0 50px;
  }
}
@media screen and (max-width: 1300px) {
  .notice .notice-left,
  .notice .notice-right {
    width: 49%;
    height: auto;
  }
  .notice .notice-left {
    margin-bottom: 40px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 1280px) {
  .notice .container {
    margin: 0 20px;
  }
}
@media screen and (max-width: 1119px) {
  .notice .notice-left h3,
  .notice .notice-right h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .notice {
    width: 100%;
    padding: 20px 0 25px;
  }
  .notice .notice-left,
  .notice .notice-right {
    width: 100%;
    margin-bottom: 25px;
    padding: 25px 15px;
  }
  .notice .notice-left ul li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .notice .notice-left h3,
  .notice .notice-right h3 {
    font-size: 18px;
  }
}
/* 갤러리영역 */
/* 활동갤러리 */
.gallery {
  width: 100%;
  padding: 70px 0 90px;
  background: url("../images/img_bottombg.jpg") no-repeat center;
  background-size: cover;
}
.gallery .container {
}
.gallery .act-gallery {
  width: 940px;
  float: left;
  position: relative;
}
.gallery .act-gallery h3 {
  color: #fff;
}
.gallery .act-gallery .gallery-box {
  float: left;
  width: 32%;
  background-color: #fff;
  margin-right: 2%;
}
.gallery .act-gallery .gallery-box.last-gallery-box {
  margin-right: 0;
}

.gallery .act-gallery .gallery-box .gallery-card {
  display: block;
}
.gallery .act-gallery .gallery-box .gallery-card .gallery-pic {
  width: 100%;
  overflow: hidden;
  padding-top: 65%;
  position: relative;
}
.gallery .act-gallery .gallery-box .gallery-card .gallery-pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gallery .act-gallery .gallery-box .gallery-card .gallery-desc {
  padding: 25px 15px 15px;
}
.gallery .act-gallery .gallery-box .gallery-card .gallery-desc p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 47px;
  color: #444;
  text-align: center;
  margin-bottom: 25px;
}
.gallery .act-gallery .gallery-box .gallery-card .gallery-desc span {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #5f5f5f;
  line-height: 22.5px;
}
.gallery .gallery-more.btn-more {
  position: absolute;
  top: 6px;
  right: 0;
  color: #fff;
  background-image: url("../images/plus-white.png");
}
/* 동영상갤러리 */
.gallery .clip-gallery {
  width: 400px;
  float: right;
  position: relative;
}
.gallery .clip-gallery h3 {
  color: #fff;
}
.gallery .clip-gallery .clip {
  width: 100%;
  height: 330px;
}
.gallery .clip-gallery .clip #videoPlayer {
  width: 100%;
  height: 100%;
}
/* 갤러리영역 반응형 */

/* =============== 푸터영역 =============== */
